<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	
	<filter>
	    <filter-name>LoginFilter</filter-name>
	    <filter-class>filter.LoginFilter</filter-class>
	</filter>
	 
	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Arrangement</servlet-name>
		<servlet-class>ser.Arrangement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrangement</servlet-name>
		<url-pattern>/arrangement</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAvailableTeacher</servlet-name>
		<servlet-class>ser.GetAvailableTeacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAvailableTeacher</servlet-name>
		<url-pattern>/getAvailableTeacher</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DealLogin</servlet-name>
		<servlet-class>ser.DealLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealLogin</servlet-name>
		<url-pattern>/deal_login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SubmitRequest</servlet-name>
		<servlet-class>ser.SubmitRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitRequest</servlet-name>
		<url-pattern>/submitRequest</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GetMessage</servlet-name>
		<servlet-class>ser.GetMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMessage</servlet-name>
		<url-pattern>/getmessage</url-pattern>
	</servlet-mapping>
	dealMessage
	
	<servlet>
		<servlet-name>DealMessage</servlet-name>
		<servlet-class>ser.DealMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealMessage</servlet-name>
		<url-pattern>/dealmessage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Checkout</servlet-name>
		<servlet-class>ser.Checkout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Checkout</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DealRegister</servlet-name>
		<servlet-class>ser.DealRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealRegister</servlet-name>
		<url-pattern>/dealregister</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DealAddTS</servlet-name>
		<servlet-class>ser.DealAddTS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealAddTS</servlet-name>
		<url-pattern>/dealaddTS</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GetAvailablePlace</servlet-name>
		<servlet-class>ser.GetAvailablePlace</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAvailablePlace</servlet-name>
		<url-pattern>/getavailableplace</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAvailableTime</servlet-name>
		<servlet-class>ser.GetAvailableTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAvailableTime</servlet-name>
		<url-pattern>/getavailabletime</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>UpdateTeacher</servlet-name>
		<servlet-class>ser.UpdateTeacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTeacher</servlet-name>
		<url-pattern>/updateTeacher</url-pattern>
	</servlet-mapping>
</web-app>