<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	
	<servlet>
		<servlet-name>Arrangement</servlet-name>
		<servlet-class>ser.Arrangement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrangement</servlet-name>
		<url-pattern>/arrangement</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAvailableTeacher</servlet-name>
		<servlet-class>ser.GetAvailableTeacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAvailableTeacher</servlet-name>
		<url-pattern>/getAvailableTeacher</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DealLogin</servlet-name>
		<servlet-class>ser.DealLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealLogin</servlet-name>
		<url-pattern>/deal_login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SubmitRequest</servlet-name>
		<servlet-class>ser.SubmitRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitRequest</servlet-name>
		<url-pattern>/submitRequest</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GetMessage</servlet-name>
		<servlet-class>ser.GetMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMessage</servlet-name>
		<url-pattern>/getmessage</url-pattern>
	</servlet-mapping>
	dealMessage
	
	<servlet>
		<servlet-name>DealMessage</servlet-name>
		<servlet-class>ser.DealMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealMessage</servlet-name>
		<url-pattern>/dealmessage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Checkout</servlet-name>
		<servlet-class>ser.Checkout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Checkout</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DealRegister</servlet-name>
		<servlet-class>ser.DealRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealRegister</servlet-name>
		<url-pattern>/dealregister</url-pattern>
	</servlet-mapping>
	
	
</web-app>